
<section class="hero py-16 pt-48">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2 ">
            <h6 class="plain text-lg"><em>Are you hungry?</em></h6>
            <h1 class="plain text-3xl md:text-6xl font-bold">Don't wait !</h1>
            <button class="main px-6 py-2 rounded-full font-bold mt-4 btn-primary"><a href="/menu"> Order Now</a></button>
        </div>
        <div class="w-1/2">
            <img src="/img/ladoo-removebg-preview.png" alt="">
        </div>
    </div>
</section>