


<!-- <section class="hero"> 
  <% if (user) { %>
      <button class="btn-home rounded-full text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-white hover:text-black">
          <a href="/menu" class="btn-link">Shop ⇒</a>
      </button>
      <button class="btn-home1 rounded-full text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-white hover:text-black">
          <a href="/customer/orders" class="btn-link">Meine Bestellungen ⇒</a>
      </button>
  <% } else { %>
      <button class="btn-home rounded-full text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          <a href="/register" class="btn-link">Registrieren ⇒</a>
      </button>
      <button class="btn-home1 rounded-full text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          <a href="/login" class="btn-link">Anmelden ⇒</a>
      </button>
  <% } %>
</section>

<section class="about text-center" aria-labelledby="about-label" id="about">
  <div class="container">
      <div class="about-content">
          <h2 class="headline-1 section-title">Jedes Stück erzählt eine Geschichte</h2>
          <p class="section-text">
              In jedem funkelnden Design von Schmuck ruht eine Geschichte, gewoben aus Inspiration, Leidenschaft und Handwerkskunst. Jeder geschliffene Edelstein, jede geschmiedete Kurve und jede filigrane Verzierung erzählt von den Träumen seines Schöpfers, von den Emotionen, die ihn bewegten, und von den Momenten des Glücks oder der Herausforderungen, die ihn geprägt haben. Diese Geschichten werden zu einem Teil des Schmucks selbst, eingebettet in jedes Detail und weitergetragen durch die Menschen, die sie tragen. Von Hand gefertigt oder mit modernster Technologie geschaffen, jedes Schmuckstück birgt eine einzigartige Geschichte, bereit, mit jedem, der es betrachtet oder trägt, geteilt zu werden.
          </p>
      </div>
      <figure class="about-banner">
          <div>
              <img src="/img/Bahl.gif" class="w-100" data-parallax-item data-parallax-speed="1">
          </div>
      </figure>
  </div>
</section> -->

<style>
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* color: #000; */
    margin: 0;
    padding: 0;
  }
 

  /* swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  swiper-container {
    --swiper-theme-color: #fff;
}

 

  .slide1 {
  background-image: url("img/bg.png");

  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide2 {
  background-image: url("img/slide-3.jpg");

  background-repeat: no-repeat;
  background-position: center right ;
  background-size: cover;
  /* display: block; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .slide3 {
  background-image: url("img/slide-4.jpg");

  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  /* display: block; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 

</style>


<swiper-container class="mySwiper h-96 lg:h-screen" pagination="true"  navigation="true"  pagination-dynamic-bullets="true"  >
  <swiper-slide>
    <div class="slide1 ">
  
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide2 pt-10 flex justify-center ">
      <p class="text-white font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl mt-6 lg:mt-16 text-center w-11/12 ">BEST JEWELLERY IN TOWN</p>
    
    </div>
  </swiper-slide>
   <swiper-slide>
    <div class="slide3 pt-10  flex justify-center">
      <p class="text-white font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl mt-6 lg:mt-16 text-center w-11/12">PREMIUM COLLECTION</p>
     
    </div>
  </swiper-slide>
  
</swiper-container>

<section class="  d-flex justify-content-center bg-neutral-200 py-5 border-b border-gray-300">
  <div class="w-5/6 grid grid-cols-1 lg:grid-cols-2 gap-5 ">
    <div class="col-span-1 flex flex-col justify-start xl:justify-center items-center ">
      <p class="text-3xl md:text-4xl lg:text-3xl xl:text-5xl  font-bold tracking-wide mb-4 xl:mb-5 text-black">Ihre Adresse für Zeitlosen Schmuck und Eleganz</p>
      <p class="tracking-wide font-medium mb-4 xl:mb-5 text-gray-500 text-base sm:text-lg lg:text-base 2xl:text-lg">
        Willkommen auf unserer Schmuck-Website! Wir bieten eine erlesene Auswahl an hochwertigen, zeitlosen und modernen Schmuckstücken. Unsere Leidenschaft für Handwerkskunst und Design zeigt sich in jedem Stück. Ob Verlobungsring, Halsband oder Armband – bei uns finden Sie, was Sie suchen. Unsere erfahrenen Juweliere und Designer arbeiten sorgfältig mit den besten Materialien wie Gold, Diamanten und Edelsteinen, um Schmuck zu schaffen, der ein Leben lang hält. Entdecken Sie unsere Kollektion und lassen Sie sich von der Eleganz verzaubern. Unser freundlicher Kundenservice steht Ihnen jederzeit zur Verfügung. Wir freuen uns darauf, Ihnen ein außergewöhnliches Einkaufserlebnis zu bieten.
      </p>
      <div class="w-full flex justify-start">

        <button type="button" class="btn btn-lg btn-dark">Shop now</button>
      </div>
    </div>
<div class="col-span-1 flex justify-center  items-center pt-8 lg:pt-0 ">
  <img src="img/about.jpg" class="w-full  xl:w-9/12 rounded-lg" />
</div>
  </div>

</section>


<swiper-container class="mySwiper h-96 " direction="vertical" pagination="true" pagination-clickable="true">
  <swiper-slide class="bg-gray-200 flex flex-col justify-center items-center w-full h-full "><p class="mb-1 w-5/6 sm:w-4/5 lg:w-1/2 xl:w-2/5 text-xl tracking-wide text-center   font-sans">"Euer Label ist fantastisch! Man spürt die Hingabe und Leidenschaft, die ihr in jedes Detail steckt. Die Verpackung ist elegant und die Schmuckstücke sind wahre Kunstwerke. "</p><p class="text-center text-xl font-semibold font-sans ">-Aida-</p></swiper-slide>
  <swiper-slide class="bg-gray-200 flex flex-col justify-center items-center w-full h-full "><p class="mb-1 w-5/6 sm:w-4/5 lg:w-1/2 xl:w-2/5 text-xl tracking-wide text-center   font-sans">"Ich liebe euer Label so sehr. Man merkt wie viel Liebe hinter allem steckt."</p><p class="text-center text-xl font-semibold font-sans ">-Luise-</p></swiper-slide>
  <swiper-slide class="bg-gray-200 flex flex-col justify-center items-center w-full h-full "><p class="mb-1 w-5/6 sm:w-4/5 lg:w-1/2 xl:w-2/5 text-xl tracking-wide text-center   font-sans">"Ich bin absolut begeistert von eurem Label! Es ist offensichtlich, dass ihr viel Herzblut in eure Arbeit steckt. Die Schmuckstücke sind einfach atemberaubend."</p><p class="text-center text-xl font-semibold font-sans ">-Hanna-</p></swiper-slide>
</swiper-container>



<section class=" d-flex justify-content-center bg-neutral-200 py-4">
  <div class="w-5/6  flex justify-around  flex-wrap  gap-y-5  items-center ">

     
      <div class="flex flex-col items-center justify-center py-5 w-72">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="mb-2"><path d="M4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3Z"></path></svg>
        <p class="font-semibold text-xl mb-2">SCHNELLER VERSAND</p>
          <p class=" tracking-wide  text-center text-lg text-gray-500">Deine Bestellung ist innerhalb von 2-5 Werktagen bei dir.</p>
      </div>
      <div class="flex flex-col items-center justify-center w-72">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"  class="mb-2"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12H15C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12H7Z"></path></svg>
        <p class="font-semibold text-xl mb-2">CUSTOMER SERVICE</p>
          <p class=" tracking-wide  text-center text-lg text-gray-500">Wir sind von Montag bis Freitag für euch zu erreichen</p>
      <div class="flex flex-col items-center justify-center w-72">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="mb-2"><path d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM16.0043 12.8777C15.6589 12.3533 15.4097 11.9746 14.4622 12.1248C12.6717 12.409 12.4732 12.7224 12.3877 13.2375L12.3636 13.3943L12.3393 13.5597C12.2416 14.2428 12.2453 14.5012 12.5589 14.8308C13.8241 16.1582 14.582 17.115 14.8116 17.6746C14.9237 17.9484 15.2119 18.7751 15.0136 19.5927C16.2372 19.1066 17.3156 18.3332 18.1653 17.3559C18.2755 16.9821 18.3551 16.5166 18.3551 15.9518V15.8472C18.3551 14.9247 18.3551 14.504 17.7031 14.1314C17.428 13.9751 17.2227 13.881 17.0582 13.8064C16.691 13.6394 16.4479 13.5297 16.1198 13.0499C16.0807 12.9928 16.0425 12.9358 16.0043 12.8777ZM12 3.83333C9.68259 3.83333 7.59062 4.79858 6.1042 6.34896C6.28116 6.47186 6.43537 6.64453 6.54129 6.88256C6.74529 7.34029 6.74529 7.8112 6.74529 8.22764C6.74488 8.55621 6.74442 8.8672 6.84992 9.09302C6.99443 9.40134 7.6164 9.53227 8.16548 9.64736C8.36166 9.68867 8.56395 9.73083 8.74797 9.78176C9.25405 9.92233 9.64554 10.3765 9.95938 10.7412C10.0896 10.8931 10.2819 11.1163 10.3783 11.1717C10.4286 11.1356 10.59 10.9608 10.6699 10.6735C10.7307 10.4547 10.7134 10.2597 10.6239 10.1543C10.0648 9.49445 10.0952 8.2232 10.268 7.75495C10.5402 7.01606 11.3905 7.07058 12.012 7.11097C12.2438 7.12589 12.4626 7.14023 12.6257 7.11976C13.2482 7.04166 13.4396 6.09538 13.575 5.91C13.8671 5.50981 14.7607 4.9071 15.3158 4.53454C14.3025 4.08382 13.1805 3.83333 12 3.83333Z"></path></svg>
        <p class="font-semibold text-xl mb-2">Handwerkskunst</p>
          <p class=" tracking-wide  text-center text-lg text-gray-500">In liebevoller Handarbeit gefertigt</p>
      </div>
  </div>
</section>


<!-- Footer -->
<footer class="footer bg-black text-white">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <h5>Rechtliche Links</h5>
              <ul class="list-unstyled">
                  <li><a href="/impressum">Impressum</a></li>
                  <li><a href="/agb">AGB</a></li>
                  <li><a href="/datenschutzerklaerung">Datenschutzerklärung</a></li>
              </ul>
          </div>
          <div class="col-md-3">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="/meu">Shop</a></li>
                  <li><a href="/customer/orders">Meine Bestellungen</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
          <div class="col-md-3">
              <h5>Kontaktieren sie uns</h5>
              <ul class="list-unstyled">
                  <li>Email: bahl-collection@t-online.de</li>
                  <li>Phone: 069 38996981</li>
                  <li>Address: Oeserstraße 1, 65934 Frankfurt am Main</li>
              </ul>
          </div>
          <div class="col-md-3">
              <h5>Öffnungszeiten</h5>
              <ul class="list-unstyled">
                  <li>Montag - Freitag: 11:00 - 16:30</li>
              </ul>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-12 text-center">
              <p>&copy; 2024 Bahl Collection. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var aboutSectionPosition = $('.about').offset().top;
          var topOfScreen = $(window).scrollTop() + $(window).height();
          if (aboutSectionPosition < topOfScreen) {
              $('.about .fade-in').each(function() {
                  var position = $(this).offset().top;
                  if (position < topOfScreen) {
                      $(this).addClass("active");
                  }
              });
          }
      });
  });
</script>

<style>
/* Footer Fade-in effect */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Footer styles */
.footer {
  /* background-color: #333; Dark background color */
  color: #fff; /* Text color */
  padding: 50px 0; /* Padding top and bottom */
}

.footer h5 {
  color: #fff; /* Heading text color */
  margin-bottom: 20px; /* Bottom margin for headings */
}

.footer p,
.footer ul {
  font-size: 14px; /* Text size */
  margin-bottom: 10px; /* Bottom margin for paragraphs and lists */
}

.footer ul li {
  list-style: none; /* Remove bullet points from list items */
}

.footer ul li a {
  color: #fff; /* Link text color */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Make link text bold */
}

.footer ul li a:hover {
  text-decoration: underline; /* Underline links on hover */
}

.footer hr {
  border-color: #666; /* Border color for horizontal line */
  margin-top: 30px; /* Top margin for horizontal line */
  margin-bottom: 20px; /* Bottom margin for horizontal line */
}

.footer .copyright {
  font-size: 12px; /* Smaller text size for copyright notice */
  color: #999; /* Color for copyright notice */
}

.about {
  background-color: #1D1B26;
}

.about .headline-1 {
  margin-top: 80px;
}

/* Add this CSS to make h2 and p text white */
.about .headline-1,
.about .section-text {
  color: white;
}

/* .about .btn {
  margin-inline: auto;
  margin-block-start: 26px;
} */

.about .container {
  display: grid;
  gap: 120px;
}

.about-banner {
  position: relative;
  margin-block-end: 120px;
}

.about-banner > .w-100 {
  padding-inline-start: 50px;
}

.about .abs-img {
  position: absolute;
}

.about .abs-img::before {
  z-index: -1;
}

.about .abs-img-1 {
  bottom: -120px;
  left: 0;
  width: 150px;
  padding-block: 50px;
}

.about .abs-img-2 {
  top: -65px;
  right: 0;
  overflow: hidden;
}

.about .abs-img-1::before {
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  background-image: url('../images/img-pattern.svg');
  background-repeat: repeat;
}

.about .abs-img-2::before {
  inset: 0;
  background-image: url('../images/badge-2-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotate360 15s linear infinite;
}

/* Button Link Styles */

</style>
