 
<section class="orders light-section">
    <div class="container mx-auto pt-12 pb-2">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">
                        <div class="container mx-auto pb-2">
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold" ><a href="/admin/orders/total">Todays Total</a></button>
                         </div>
                    </th>
                    <th class="px-4 py-2 text-left">
                        <div class="container mx-auto pb-2">
                            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold" ><a href="/admin/orders/archiv">Archiv</a></button>
                         </div>
                    </th>
                </tr>
            </thead>
            </tbody>
        </table>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">ID</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">status</th>
                    <th class="px-4 py-2 text-left">Placed at</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
    </div>
</section>