 <!-- Assuming you have an array of products passed to the EJS template as 'products' -->

 <style>
    .table-container {
        border: 1px solid #ddd; /* Border for the entire table */
    }

    th {
        background-color: lightblue; /* Background color for the header cells */
    }

    tr:nth-child(even) {
        background-color: lightgrey; /* Background color for every second row */
    }

    td, th {
        border: 1px solid #ddd; /* Border for each cell */
        padding: 8px; /* Adjust the padding as needed */
        text-align: left;
    }
    .editable {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .flex-container {
        display: flex;
        justify-content: flex-end; /* Align to the right */
        margin-bottom: 10px;
    }

</style>

<%- include('../components/sidebar') %>

<section class="orders lg:ml-72 light-section">
    <div class="container mx-auto pt-12 pb-2 overflow-auto" >
        <h1 class="font-bold text-2xl mb-4">Alle Verschickten Aufträge</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">ID</th>
                    <th class="px-4 py-2 text-left">Email</th>
                    <th class="px-4 py-2 text-left">Preis</th>
                    <th class="px-4 py-2 text-left">status</th>
                    <th class="px-4 py-2 text-left">Placed at</th>
                </tr>
            </thead>
            <tbody id="totalBody">
            </tbody>
        </table>
    </div>
</section>

<style>
    /* .orders {
        margin-left: 280px;
    } */
</style>