<h1>Here comes the total</h1>
 
 
<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Paid</th>
                    <th class="px-4 py-2 text-left">Not Paid</th>
                </tr>
            </thead>
            
            <tbody id="orderTotal">
            </tbody>
        </table>
    </div>
</section>